*{
	margin: 0;
	padding: 0;
}
body {
	width:600px;
	margin: 0 auto;
}

.inputs input{
	border-radius: 5px;
	background: #0069d6;
	color: white;
	padding: 15px;
}

.p2 , .p3{
	display: none;
}

form div {
	width: 300px;
	margin: 10px;

}

form input {
	float: right;
}